---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../config';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div class="profile">
      <img src="/images/yendo.jpg" alt="Profile image" />
      <ul>
        <li>Yutaka Endo (遠藤 優)</li>
        <li><a href="https://mech.w3.kanazawa-u.ac.jp/en/" target="_blank">Institute of Science and Engineering</a></li>
        <li><a href="https://www.kanazawa-u.ac.jp/e/" target="_blank">Kanazawa University</a></li>
        <li>Assistant Professor</li>
        <li><i class="fa-solid fa-envelope"></i> endo@se.kanazawa-u.ac.jp</li>
        <li>
          <a href="https://github.com/ytkend" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="https://orcid.org/0000-0002-7985-8880" target="_blank"><i class="ai ai-orcid"></i></a>
          <a href="https://scholar.google.com/citations?user=mpE1S3gAAAAJ" target="_blank"><i class="ai ai-google-scholar-square"></i></a>
        </li>
      </ul>
    </div>
    <p>
      I am Yutaka Endo, an Assistant Professor at Institute of Science and Engineering, Kanazawa University, Japan.
      My research interests include display and imaging technologies using computer-generated holography.
      I received my Ph.D. in Engineering from Chiba University in 2017.
    </p>
    <Footer />
  </body>
</html>
<style>
  .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .profile img {
    width: 140px;
    height: 140px;
    object-fit: cover;
  }
  .profile ul {
    list-style-type: none;
    padding: 15px;
  }
</style>