---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../config';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <h1>Publications</h1>
    <main>
      <h2>Journal Papers</h2>
        <ol>
          <li>Y. Endo and G. Nakajima, "Compressive phase object classification using single-pixel digital holography," Optics Express 30, 28057–28066 (2022). DOI:<a href="https://doi.org/10.1364/OE.463395" target="_blank">https://doi.org/10.1364/OE.463395</a></li>
          <li>J. Hanawa, T. Niiyama, Y. Endo, and S. Sunada, "Gigahertz-rate random speckle projection for high-speed single-pixel image classification," Optics Express 30, 22911–22921 (2022). DOI:<a href="https://doi.org/10.1364/OE.460681" target="_blank">https://doi.org/10.1364/OE.460681</a></li>
          <li>T. Tahara and Y. Endo, "Multiwavelength-selective phase-shifting digital holography without mechanical scanning," Applied Optics 58, G218–G225 (2019). DOI:<a href="https://doi.org/10/gg7qbx" target="_blank">https://doi.org/10/gg7qbx</a></li>
          <li>Y. Endo, T. Tahara, and R. Okamoto, "Color single-pixel digital holography with a phase-encoded reference wave," Applied Optics 58, G149–G154 (2019). DOI:<a href="https://doi.org/10/gg7qbp" target="_blank">https://doi.org/10/gg7qbp</a></li>
          <li>T. Shimobaba, D. Blinder, M. Makowski, P. Schelkens, Y. Yamamoto, I. Hoshi, T. Nishitsuji, Y. Endo, T. Kakue, and T. Ito, "Dynamic-range compression scheme for digital hologram using a deep neural network," Optics Letters 44, 3038–3041 (2019). DOI:<a href="https://doi.org/10/gg7qbb" target="_blank">https://doi.org/10/gg7qbb</a></li>
          <li>T. Shimobaba, T. Takahashi, Y. Yamamoto, Y. Endo, A. Shiraki, T. Nishitsuji, N. Hoshikawa, T. Kakue, and T. Ito, "Digital holographic particle volume reconstruction using a deep neural network," Applied Optics 58, 1900–1906 (2019). DOI:<a href="https://doi.org/10/gg7p7v" target="_blank">https://doi.org/10/gg7p7v</a> </li>
          <li>H. Sato, T. Kakue, Y. Ichihashi, Y. Endo, K. Wakunami, R. Oi, K. Yamamoto, H. Nakayama, T. Shimobaba, and T. Ito, "Real-time colour hologram generation based on ray-sampling plane with multi-GPU acceleration," Scientific Reports 8, 1500 (2018). DOI:<a href="https://doi.org/10/gcxw6d" target="_blank">https://doi.org/10/gcxw6d</a></li>
          <li>T. Kakue, Y. Wagatsuma, S. Yamada, T. Nishitsuji, Y. Endo, Y. Nagahama, R. Hirayama, T. Shimobaba, and T. Ito, "Review of real-time reconstruction techniques for aerial-projection holographic displays," Optical Engineering. 57, 061621 (2018). DOI:<a href="https://doi.org/10/gg7p52" target="_blank">https://doi.org/10/gg7p52</a></li>
          <li>T. Sugie, T. Akamatsu, T. Nishitsuji, R. Hirayama, N. Masuda, H. Nakayama, Y. Ichihashi, A. Shiraki, M. Oikawa, N. Takada, Y. Endo, T. Kakue, T. Shimobaba, and T. Ito, "High-performance parallel computing for next-generation holographic imaging," Nature Electronics 1, 254–259 (2018). DOI:<a href="https://doi.org/10/gg7p7g" target="_blank">https://doi.org/10/gg7p7g</a></li>
          <li>T. Shimobaba, Y. Endo, T. Nishitsuji, T. Takahashi, Y. Nagahama, S. Hasegawa, M. Sano, R. Hirayama, T. Kakue, A. Shiraki, and T. Ito, "Computational ghost imaging using deep learning," Optics Communications 413, 147–151 (2018). DOI:<a href="https://doi.org/10/gf7pdb" target="_blank">https://doi.org/10/gf7pdb</a></li>
          <li>T. Kakue, Y. Endo, T. Nishitsuji, T. Shimobaba, N. Masuda, and T. Ito, "Digital holographic high-speed 3D imaging for the vibrometry of fast-occurring phenomena," Scientific Reports 7, 10413 (2017). DOI:<a href="https://doi.org/10/gbwzc6" target="_blank">https://doi.org/10/gbwzc6</a></li>
          <li>T. Shimobaba, Y. Endo, R. Hirayama, Y. Nagahama, T. Takahashi, T. Nishitsuji, T. Kakue, A. Shiraki, N. Takada, N. Masuda, and T. Ito, "Autoencoder-based holographic image restoration," Applied Optics 56, F27–F30 (2017). DOI:<a href="https://doi.org/10/gg7pz5" target="_blank">https://doi.org/10/gg7pz5</a></li>
          <li>T. Shimobaba, Y. Endo, R. Hirayama, D. Hiyama, Y. Nagahama, S. Hasegawa, M. Sano, T. Takahashi, T. Kakue, M. Oikawa, and T. Ito, "Holographic microinformation hiding," Applied Optics 56, 833–837 (2017). DOI:<a href="https://doi.org/10/gg7pz4" target="_blank">https://doi.org/10/gg7pz4</a></li>
          <li>T. Shimobaba, M. Makowski, Y. Nagahama, Y. Endo, R. Hirayama, D. Hiyama, S. Hasegawa, M. Sano, T. Kakue, M. Oikawa, T. Sugie, N. Takada, and T. Ito, "Color computer-generated hologram generation using the random phase-free method and color space conversion," Applied Optics 55, 4159–4165 (2016). DOI:<a href="https://doi.org/10.1364/AO.55.004159" target="_blank">https://doi.org/10.1364/AO.55.004159</a></li>
          <li>Y. Endo, T. Shimobaba, T. Kakue, and T. Ito, "GPU-accelerated compressive holography," Optics Express 24, 8437–8445 (2016). DOI:<a href="https://doi.org/10/gg7pr8" target="_blank">https://doi.org/10/gg7pr8</a></li>
          <li>T. Sanpei, T. Shimobaba, T. Kakue, Y. Endo, R. Hirayama, D. Hiyama, S. Hasegawa, Y. Nagahama, M. Sano, M. Oikawa, T. Sugie, and T. Ito, "Optical encryption for large-sized images," Optics Communications 361, 138–142 (2016). DOI:<a href="https://doi.org/10/gg7prv" target="_blank">https://doi.org/10/gg7prv</a></li>
          <li>Y. Endo, K. Wakunami, T. Shimobaba, T. Kakue, D. Arai, Y. Ichihashi, K. Yamamoto, and T. Ito, "Computer-generated hologram calculation for real scenes using a commercial portable plenoptic camera," Optics Communications 356, 468–471 (2015). DOI:<a href="https://doi.org/10/gg7prz" target="_blank">https://doi.org/10/gg7prz</a></li>
          <li>T. Shimobaba, T. Kakue, Y. Endo, R. Hirayama, D. Hiyama, S. Hasegawa, Y. Nagahama, M. Sano, M. Oikawa, T. Sugie, and T. Ito, "Improvement of the image quality of random phase-free holography using an iterative method," Optics Communications 355, 596–601 (2015). DOI:<a href="https://doi.org/10/gg7prx" target="_blank">https://doi.org/10/gg7prx</a></li>
          <li>T. Shimobaba, T. Kakue, Y. Endo, R. Hirayama, D. Hiyama, S. Hasegawa, Y. Nagahama, M. Sano, M. Oikawa, T. Sugie, and T. Ito, "Random phase-free kinoform for large objects," Optics Express 23, 17269–17274 (2015). DOI:<a href="https://doi.org/10/gg7prw" target="_blank">https://doi.org/10/gg7prw</a></li>
          <li>D. Arai, T. Shimobaba, K. Murano, Y. Endo, R. Hirayama, D. Hiyama, T. Kakue, and T. Ito, "Acceleration of computer-generated holograms using tilted wavefront recording plane method," Optics Express 23, 1740–1747 (2015). DOI:<a href="https://doi.org/10/gg7pr5" target="_blank">https://doi.org/10/gg7pr5</a></li>
          <li>T. Shimobaba, M. Makowski, T. Kakue, N. Okada, Y. Endo, R. Hirayama, D. Hiyama, S. Hasegawa, Y. Nagahama, and T. Ito, "Numerical investigation of lensless zoomable holographic multiple projections to tilted planes," Optics Communications 333, 274–280 (2014). DOI:<a href="https://doi.org/10.1016/j.optcom.2014.07.081" target="_blank">https://doi.org/10.1016/j.optcom.2014.07.081</a></li>
          <li>T. Shimobaba, T. Kakue, N. Okada, Y. Endo, R. Hirayama, D. Hiyama, and T. Ito, "Ptychography by changing the area of probe light and scaled ptychography," Optics Communications 331, 189–193 (2014). DOI:<a href="https://doi.org/10.1016/j.optcom.2014.06.019" target="_blank">https://doi.org/10.1016/j.optcom.2014.06.019</a></li>
          <li>T. Shimobaba, Y. Nagahama, T. Kakue, N. Takada, N. Okada, Y. Endo, R. Hirayama, D. Hiyama, and T. Ito, "Calculation reduction method for color digital holography and computer-generated hologram using color space conversion," Optical Engineering 53, 024108 (2014). DOI:<a href="https://doi.org/10/gg7pr3" target="_blank">https://doi.org/10/gg7pr3</a></li>
          <li>T. Shimobaba, T. Kakue, M. Oikawa, N. Okada, Y. Endo, R. Hirayama, and T. Ito, "Nonuniform sampled scalar diffraction calculation using nonuniform fast Fourier transform," Optics Letters 38, 5130–5133 (2013). DOI:<a href="https://doi.org/10/ggff4v" target="_blank">https://doi.org/10/ggff4v</a></li>
          <li>T. Shimobaba, H. Yamanashi, T. Kakue, M. Oikawa, N. Okada, Y. Endo, R. Hirayama, N. Masuda, and T. Ito, "In-line digital holographic microscopy using a consumer scanner," Scientific Reports 3, 2664 (2013). DOI:<a href="https://doi.org/10/gg7pr2" target="_blank">https://doi.org/10/gg7pr2</a></li>
          <li>T. Shimobaba, M. Makowski, T. Kakue, M. Oikawa, N. Okada, Y. Endo, R. Hirayama, and T. Ito, "Lensless zoomable holographic projection using scaled Fresnel diffraction," Optics Express 21, 25285–25290 (2013). DOI:<a href="https://doi.org/10/gg7pfw" target="_blank">https://doi.org/10/gg7pfw</a></li>
      </ol>
      <h2>Conference Proceedings</h2>
        <ol>
          <li>Y. Endo, "Phase Image Classification using Compressed Measurements of Single-Pixel Digital Holography," <i>Digital Holography and Three-Dimensional Imaging 2022</i>, W2A.4, Cambridge, UK (Aug. 1–4, 2022).</li>
          <li>(invited) T. Tahara, Y. Endo, K. Wakunami, B. Jessie, Y. Ichihashi, and R. Oi, "Multiwavelength holographic image sensing of various light," <i>The 9th Korea-Japan Workshop on Digital Holography and Information Photonics (DHIP2019)</i>, Inv19a-3, Gwangju, South Korea (Dec 17-20, 2019)</li>
          <li>Y. Endo, T. Tahara, and Y. Takaki, "Multicolor lensless three-dimensional imaging with full space-bandwidth product and no mechanical scanning by wavelength-selective phase-shifting digital holography," <i>Digital Holography and Three-Dimensional Imaging 2019</i>, W3A.11, Bordeaux, France (May19–23, 2019)</li>
          <li>and Y. Endo, "Linear System of Single-pixel Digital Holography with Coded Reference Beam," <i>Digital Holography and Three-Dimensional Imaging 2019</i>, W3A.18, Bordeaux, France (May19–23, 2019)</li>
          <li>(invited) T. Kakue, Y. Endo, T. Nishitsuji, T. Shimobaba, and T. Ito, "Ultrasonic Vibration Measurement by High-Speed Phase Imaging based on Single-Shot Phase-Shifting Digital Holography," <i>The 8th Japan-Korea Workshop on Digital Holography and Information Photonics (DHIP2018)</i>, 20-07, Osaka, Japan (Dec. 18–21, 2018)</li>
          <li>T. Kakue, Y. Endo, T. Nishitsuji, T. Shimobaba, and T. Ito, "High-speed three-dimensional vibrometry based on single-shot phase-shifting digital holography," <i>The 8th International Symposium on Holography (HODIC in Taiwan 5)</i>, Taiwan, Republic of China (Dec. 13–15, 2018)</li>
          <li>(invited) T. Kakue, K. Uchigata, Y. Endo, T. Shimobaba, Y. Ichihashi, K. Yamamoto, and T. Ito, "Aerial Projection of Three-Dimensional Images Based on Integral Photography and Fog Display," <i>The 27th International Meeting on Information Display (IMID2017)</i>, F38-2, Busan, South Korea (Aug. 30, 2017)</li>
          <li>T. Kakue, Y. Endo, T. Shimobaba, and T. Ito, "High-speed imaging of shooting BB bullet by single-shot phase-shifting digital holography," <i>The 31st International Congress on High-Speed Imaging and Photonics (ICHSIP-31)</i>, 1P-24, Osaka, Japan (Nov. 7, 2016)</li>
          <li>Y. Endo, T. Shimobaba, T. Kakue, and T. Ito, "GPU-Acceleration of Compressive Fresnel Holography," <i>Imaging and Applied Optics 2016</i>, DW5I.7, Heidelberg, Germany (Jul. 2016)</li>
          <li>M. Oikawa, D. Hiyama, R. Hirayama, S. Hasegawa, Y. Endo, N. Tsumura, M. Kuroshima, M. Maki, C. Lei, Y. Ozeki, K. Goda, and T. Shimobaba, "A Computational Approach to Real-Time Image Processing for Serial Time-Encoded Amplified Microscopy," <i>SPIE Photonics West BIOS 2016 High-Speed Biomedical Imaging and Spectroscopy: Toward Big Data Instrumentation and Management</i>, 97200E, San Francisco, California, United States (Feb. 2016)</li>
          <li>K. Uchigata, T. Kakue, Y. Endo, T. Shimobaba, and T. Ito, "Aerial projection of images reconstructed by integral photography on fog display," <i>Three Dimensional Systems and Applications 2015</i>, S4-4, Taiwan, Republic of China (Aug. 2015)</li>
          <li>Y. Endo, J. Itoi, T. Shimobaba, M. Sano, T. Kakue, and T. Ito, "Portable and Low-Cost Digital Holographic Microscope using RGB LED Illumination," <i>Digital Holography & 3-D Imaging</i>, DW2A.10, Shanghai, China (May 2015)</li>
          <li>Y. Endo, T. Kakue, T. Shimobaba, and T. Ito, "Color reconstruction of computer-generated hologram for real scenes using a light field camera," <i>Three-Dimensional Imaging, Visualization, and Display 2015</i>, 949514, Baltimore, Maryland, United States (Apr. 2015)</li>
          <li>T. Kakue, Y. Endo, T. Shimobaba, and T. Ito, "Estimation of vibration frequency of loudspeaker diaphragm by parallel phase-shifting digital holography," <i>SPIE/COS Photonics Asia 2014: Real-time Photonic Measurements, Data Management, and Processing</i>, 92790V, Beijing, China (Oct. 2014)</li>
          <li>H. Yamanashi, T. Shimobaba, T. Kakue, M. Oikawa, N. Okada, Y. Endo, R. Hirayama, N. Takada, and T. Ito, "Speckle-Reduced Zoomable Holographic Projection," <i>The 20th International Display Workshops 2013 (IDW '13)</i>, PRJ4-3, Sapporo, Japan (Dec. 2013)</li>
          <li>(invited) T. Kakue, N. Masuda, Y. Endo, R. Hirayama, N. Okada, T. Shimobaba, and T. Ito, "Special-Purpose computer for real-time reconstruction of holographic motion picture," <i>2013 International Conference on Optical Instruments and Technology: Optical Systems and Modern Optoelectronic Instruments</i>, 90420B, Beijing, China (Dec. 2013)</li>
          <li>Y. Endo, T. Kii, N. Masuda, N. Okada, T. Kakue, T. Shimobaba, and T. Ito, "Special-Purpose Computer for Phase Modulation Type Electro-Holography with DVI Output," <i>Three Dimensional Systems and Applications 2013</i>, S4-2, Osaka, Japan (Jun. 2013)</li>
        </ol>
      <h2>Journal Papers (Japanese)</h2>
        <ol>
          <li>佐野麻理恵, 糸井淳一, 下馬場朋禄, 阿比留慎, 遠藤優, 白木厚司, 角江崇, and 伊藤智義, "低コストなポータブルディジタルホログラフィック顕微鏡," レーザー研究 44, 454–457 (2016).</li>
          <li>根尾敦, 角江崇, 遠藤優, 下馬場朋禄, and 伊藤智義, "MATLABを用いた計算機合成ホログラム生成の高速化," レーザー研究 44, 458–463 (2016).</li>
        </ol>
      <h2>Conference Proceedings (Japanese)</h2>
        <ol>
          <li>中島 凱, 遠藤 優, "単一画素ホログラフィを用いた位相物体分類," Optics and Photonics Japan 2021, 26AP4, 国立オリンピック記念青少年総合センター (2021.10.26–29)</li>
          <li>(招待講演) 遠藤 優, 田原 樹, 岡本 亮, "シングルピクセルホログラフィによる複数波長センシング," 2021年第1回ホログラフィック・ディスプレイ研究会, オンライン (2021.03.29)</li>
          <li>中島 凱, 遠藤 優, "物体認識タスクに最適化した単一画素カメラの性能評価," Optics and Photonics Japan 2020, 17aB9, オンライン (2020.11.14–17)</li>
          <li>星 郁雄, 遠藤 優, 下馬場 朋禄, 角江 崇, 伊藤 智義, "プライバシー保護を可能にするシングルピクセルイメージングIoTデバイスの基礎検討," 2020年 電子情報通信学会 総合大会, D-23-4, 広島大学 東広島キャンパス (2020.03.17–20)</li>
          <li>中島 凱, 遠藤 優, "単一画素カメラにおける空間変調パターンの物体認識に対する最適化," 2020年 電子情報通信学会 総合大会, ISS-SP-023, 広島大学 東広島キャンパス (2020.03.17–21)</li>
          <li>遠藤 優, "シングルピクセルイメージングのホログラフィへの応用," 2019年度 千葉大学シンポジウム 次世代3次元映像計測技術の基礎と応用, 千葉大学 西千葉キャンパス (2019.12.26–27)</li>
          <li>(招待講演) 遠藤 優, 田原 樹, 岡本 亮, "ホログラフィにおけるシングルピクセルイメージングの活用," Optics and Photonics Japan 2019, 4aES5, 大阪大学 コンベンションセンター (2019.12.02–12.05)</li>
          <li>遠藤 優, 田原 樹, 岡本 亮, "波長依存位相変調を用いた複数波長シングルピクセルディジタルホログラフィ," Optics and Photonics Japan 2019, 3pP29, 大阪大学 コンベンションセンター (2019.12.02–12.05)</li>
          <li>遠藤 優, 田原 樹, 岡本 亮, "RGB 照明を用いたカラーシングルピクセルディジタルホログラフィ," 第80回応用物理学会秋季学術講演会, 20a-PA1-3, 北海道大学 札幌キャンパス (2019.09.18–21)</li>
          <li>田原 樹, 遠藤 優, "機械⾛査部の無い波⻑選択位相シフトディジタルホログラフィック顕微鏡システム," 第80回応用物理学会秋季学術講演会, 20a-PA1-4, 北海道大学 札幌キャンパス (2019.09.18–21)</li>
          <li>田原 樹, 遠藤 優, 涌波 光喜, ボワズ ジェシー ジャキン, 市橋保之, 大井隆太朗, "波長選択抽出位相シフト法に基づく複数波長定量位相イメージング ," 令和元年第3回ホログラフィック・ディスプレイ研究会, 首都大学東京 秋葉原サテライトキャンパス (2019.09.13)</li>
          <li>(招待講演) 遠藤 優, 下馬場 朋禄, 角江 崇, 伊藤 智義, "ホログラフィにおける圧縮センシングの高速計算," レーザー学会学術講演会 第39回年次大会, H114aⅧ04, 東海大学 高輪キャンパス (2019.01.12–14)</li>
          <li>遠藤 優, "ホログラフィ計測における最適化を用いた信号再構成," 平成30年度 千葉大学シンポジウム ホログラフィによる3次元映像技術の現状と今後の展望, 千葉大学 西千葉キャンパス (2018.12.07–08)</li>
          <li>(招待講演) 遠藤 優, 下馬場 朋禄, 角江 崇, 伊藤 智義, "コンプレッシブホログラフィのGPU高速化," 平成29年第4回ホログラフィック・ディスプレイ研究会, 金沢大学 サテライトプラザ (2017.11.17)</li>
          <li>下馬場 朋禄, 遠藤 優, 角江 崇, 伊藤 智義, "深層学習による計算ゴーストイメージングの画質改善," Optics and Photonics Japan 2017, PDP8, 筑波大学 東京キャンパス文京校舎 (2017.10.30–11.02)</li>
          <li>遠藤 優, 下馬場 朋禄, 角江 崇, 伊藤 智義, "二重ランダム位相符号化に基づく圧縮センシングを用いた超解像オフアクシスホログラフィのシミュレーションによる検証," Optics and Photonics Japan 2017, 31aP3, 筑波大学 東京キャンパス文京校舎 (2017.10.30–11.02)</li>
          <li>遠藤 優, 松下 卓也, 金出 武雄, 角江 崇, 下馬場 朋禄, 伊藤 智義, "3次元復元を用いた計算機合成ホログラムにおける波面記録法による隠面処理," 3次元画像コンファレンス2017, 1-4, 千葉大学 西千葉キャンパス (2017.07.06–07)</li>
          <li>角江 崇, 遠藤 優, 西辻 崇, 下馬場 朋禄, 伊藤 智義, "高速度位相イメージングを用いたスイープ信号を出力するスピーカ振動板の振動変位計測," 3次元画像コンファレンス2017, 6-2, 千葉大学 西千葉キャンパス (2017.07.06–07)</li>
          <li>内潟 圭介, 角江 崇, 遠藤 優, 下馬場 朋禄, 市橋 保之, 山本 健詞, 伊藤 智義, "霧ディスプレイへ投影したインテグラルフォトグラフィ再生像の視域・視差に関する評価," 立体映像技術研究会 (3DIT), 3DIT2017-2, 東京農工大学 小金井キャンパス (2017.03.07)</li>
          <li>檜山 大輔, 老川 稔, 牧 正矩, 岡田 弦樹, 津村 徳道, 遠藤 優, 長浜 佑樹, 岡田 直久, 佐野 麻理恵, 杉江 崇繁, 下馬場 朋禄, 角江 崇, 伊藤 智義, "画像処理による微小粒子のリアルタイム解析手法," 第15回情報科学技術フォーラム (FIT2016), I-016, 富山大学 五福キャンパス (2016.09.07–09)</li>
          <li>佐野 麻理恵, 老川 稔, 檜山 大輔, 遠藤 優, 長浜 佑樹, 岡田 直久, 下馬場 朋禄, 角江 崇, 杉江 崇繁, 伊藤 智義, "高速イメージングカメラのための回転不変位相限定相関法に基づく画像の同定," 第15回情報科学技術フォーラム (FIT2016), I-041, 富山大学 五福キャンパス (2016.09.07–09)</li>
          <li>遠藤 優, 下馬場 朋禄, 角江 崇, 伊藤 智義, "コンプレッシブフレネルホログラフィのGPUによる高速化," 第63回応用物理学会春季学術講演会, 22a-P3-16, 東工大 大岡山キャンパス  (2016.03.19–22)</li>
          <li>遠藤 優, 角江 崇, 下馬場 朋禄, 伊藤 智義, "コンプレッシブフレネルホログラフィにおける再構成計算のGPUによる高速化," 第8回計算オプティクス研究会, 2-2, 埼玉大学 東京ステーションカレッジ (2016.01.28)</li>
          <li>鈴木 慎一郎, 下馬場 朋禄, 遠藤 優, 角江 崇, 伊藤 智義, "最適化計算を用いたディジタルホログラフィック顕微鏡による複素振幅場の再生," 第8回計算オプティクス研究会, 1-2, 埼玉大学 東京ステーションカレッジ (2016.01.28)</li>
          <li>遠藤 優, 角江 崇, 下馬場 朋禄, 伊藤 智義, "Compressive holography の GPU による高速計算," Optics and Photonics Japan 2015, 29pE4, 筑波大学 東京キャンパス文京校舎 (2015.10.28–30)</li>
          <li>佐野 麻理恵, 糸井 淳一, 遠藤 優, 下馬場 朋禄, 角江 崇, 伊藤 智義, "実用化を指向した低コスト高性能なポータブルディジタルホログラフィック顕微鏡の開発," 第14回情報科学技術フォーラム (FIT2015), O-043, 愛媛大学 (2015.09.15–17)</li>
          <li>遠藤 優, 角江 崇, 下馬場 朋禄, 伊藤 智義, "Compressive Fresnel holography の GPU による高速化," 第16回情報フォトニクス研究グループ研究会(秋合宿), P-20, 千葉 いしい荘 (2015.09.09–11)</li>
          <li>遠藤 優, 角江 崇, 下馬場 朋禄, 伊藤 智義, "Compressive holographyのGPUによる高速化," 第7回計算オプティクス研究会, 1-2, 埼玉大学 東京ステーションカレッジ (2015.07.15)</li>
          <li>松下 卓也, 遠藤 優, 角江 崇, 下馬場 朋禄, 伊藤 智義, "多視点画像を用いた計算機合成ホログラムの作成," 第7回計算オプティクス研究会, 1-3, 埼玉大学 東京ステーションカレッジ (2015.07.15)</li>
          <li>内潟 圭介, 角江 崇, 遠藤 優, 下馬場 朋禄, 伊藤 智義, "インテグラルフォトグラフィに基づく霧ディスプレイへの三次元映像の空中投影," 3次元画像コンファレンス2015, 2-3, 海洋研究開発機構 横浜研究所 (2015.07.09)</li>
          <li>遠藤 優, 涌波 光喜, 下馬場 朋禄, 角江 崇, 市橋 保之, 山本 健詞, 伊藤 智義, "ライトフィールドカメラを用いた計算機合成ホログラムの光学再生," 立体映像技術研究会 (3DIT), 3DIT2015-9, 東京農工大学 小金井キャンパス (2015.03.09)</li>
          <li>松下 卓也, 遠藤 優, 金出 武雄, 角江 崇, 下馬場 朋禄, 伊藤 智義, "複数視点画像を用いたホログラム生成," 立体映像技術研究会 (3DIT) , 3DIT2014-42, NHK放送技術研究所 (2014.10.28)</li>
          <li>遠藤 優, 角江 崇, 下馬場 朋禄, 伊藤 智義, "ライトフィールドカメラを利用した実シーンの計算機合成ホログラムの作成," 第15回情報フォトニクス研究グループ研究会, P-16, 京都 あうる京北 (2014.9.22–24)</li>
          <li>遠藤 優, 角江 崇,下馬場 朋禄, 伊藤 智義, "ライトフィールドカメラを用いた計算機合成ホログラムの作成," 第5回計算オプティクス研究会, 2-2, 大阪大学 東京田町オフィスOS@T (2014.07.27)</li>
          <li>下馬場 朋禄, 檜山 大輔, 岡田 直久, 遠藤 優, 平山 竜士, 角江 崇, 伊藤 智義, "2次元断層画像群からのカラー計算機合成ホログラムの高速生成," 3次元画像コンファレンス2014, P-6, 東京大学 武田先端知ビル (2014.07.11)</li>
          <li>(招待講演) 角江 崇, 遠藤 優, 檜山 大輔, 平山 竜士, 下馬場 朋禄, 伊藤 智義, "並列位相シフトディジタルホログラフィによる高速振動体の振動変位観察," 平成26年第2回ホログラフィック・ディスプレイ研究会, 千葉大学 (2014.05.23)</li>
          <li>遠藤 優, 角江 崇, 下馬場 朋禄, 伊藤 智義, "深度情報を利用したホログラフィックステレオグラム," 第4回計算オプティクス研究会, 大阪大学 吹田キャンパス (2013.12.07)</li>
          <li>増田 信之, 遠藤 優, 角江 崇, 下馬場 朋禄, 伊藤 智義, 市橋 保之, "DVI出力をもつ位相ホログラフィ専用計算機の開発," 第12回情報科学技術フォーラム (FIT2013), C-019, 鳥取大学 (2013.09.05)</li>
          <li>遠藤 優, 紀井 建彦, 増田 信之, 岡田 直久, 角江 崇, 下馬場 朋禄, 伊藤 智義, "DVI出力を持つ位相変調型ホログラム専用計算機の開発," 3次元画像コンファレンス2013, 1-3, 早稲田大学 西早稲田キャンパス (2013.07.04)</li>
          <li>遠藤 優, 角江 崇, 下馬場 朋禄, 伊藤 智義, "多視点画像からの計算機合成ホログラムの作成," 第3回計算オプティクス研究会, 埼玉大学 東京ステーションカレッジ (2013.06.12)</li>
          <li>遠藤 優, 増田 信之, 下馬場 朋禄, 角江 崇, 伊藤 智義, "DVI出力を持つ電子ホログラフィ専用計算機," Optics and Photonics Japan 2012, 24pP4, タワーホール船堀 (2012.10.24)</li>
        </ol>
      <h2>Patents</h2>
        <ol>
          <li>下馬場朋禄, 平山竜士, 杉江崇繁, 遠藤優, 老川稔, 合田圭佑, 鵜川昌士, "信号データ処理装置," 特願2016-016805 (2016.1.31)</li>
        </ol>
    </main>
    <Footer />
  </body>
</html>
